.chart {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 400px;
  border: 1px solid #ccc;
}

.line {
  stroke: orange; /* цвет основных навыков */
  stroke-width: 2px;
  animation: drawLine 2s forwards;
}

@keyframes drawLine {
  from {
    stroke-dashoffset: 100%;
  }
  to {
    stroke-dashoffset: 0;
  }
}
.skill {
  padding: 10px;
  margin: 5px;
  background-color: lightblue;
  cursor: pointer;
}

.skill:hover {
  background-color: lightcyan;
}
.competence {
  padding: 5px;
  margin: 2px;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.competence .circle {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: rgb(235, 189, 124);
  margin-right: 10px;
}
.competence .competenceName {
  font-size: 12px;
  font-weight: 700;
}
.competence .circle:hover {
  background-color: rgb(221, 111, 21);
}
.canvas {
  box-sizing: border-box;
  display: inline-block;
  float: left;
  width: 33.3333%;
  height: 100vh;
  text-align: center;
}
