.competency {
  position: relative;
  display: inline-block; /* чтобы элементы располагались в ряд */

  .outer-circle {
    position: relative;
    width: 200px; /* размер внешнего круга */
    height: 200px; /* размер внешнего круга */
    border: 2px solid #000;  /* стиль обводки */
    border-radius: 50%; /* круглое отображение */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .inner-circle {
    position: absolute;
    width: 100px; /* размер внутреннего круга */
    height: 100px; /* размер внутреннего круга */
    border: 2px solid #000; /* стиль обводки */
    border-radius: 50%; /* круглое отображение */
    display: flex;
    justify-content: center;
    align-items: center;

    .skill {
      width: 30px; /* размер точек */
      height: 30px; /* размер точек */
      line-height: 30px; /* для вертикального центрирования текста внутри точек */
      border-radius: 50%; /* создание круглых точек */
      text-align: center; /* центрирование текста внутри точек */
      position: absolute;
    }

    .main-skill {
      background-color: #ff9900; /* цвет основных навыков */
    }

    .other-skill {
      background-color: #cc66ff; /* цвет дополнительных навыков */
    }
  }
}

.skillGraph {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  /* Добавьте другие свойства стиля по мере необходимости */
}

.competency {
  /* Стили для родительского контейнера компетенции */
}

.inner-circle {
  /* Стили для внутреннего круга с навыками */
}

.outer-circle {
  /* Стили для внешнего круга с названием компетенции */
}

/* Стили для линий, соединяющих компетенции и навыки */
.connection {
  /* Стили для линий связей */
}